<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <section class="form-container">
        <div class="image-contain">
          <a href="./index.html"><img class="margins-arrow" src="../../assets/imgs/back-arrow-login.png"
          alt="Back button to home"></a>
        </div>
        <img src="../../assets/imgs/rr-login-logo.png" alt="Radium rocket icon" class="icon">
        <form id="sign-up-form" action="">
          <div class="first-part-form">
            <fieldset class="form-group">
              <label class="form-label" for="name">Name</label>
              <input id="name" type="text" class="form-input" placeholder="Complete the field">
              <div class="errorMessage"></div>
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="lastname">Last Name</label>
              <input id="lastname" type="text" class="form-input" placeholder="Complete the field">
              <div class="errorMessage"></div>
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="dni">DNI</label>
              <input id="dni" type="text" class="form-input" placeholder="Complete the field">
              <div class="errorMessage"></div>
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="date-born">Date of birth</label>
              <input id="date-born" type="date" class="form-input" placeholder="Complete the field">
              <div class="errorMessage"></div>
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="tel">Telephone</label>
              <input id="tel" type="tel" class="form-input" placeholder="Complete the field">
              <div class="errorMessage"></div>
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="direction">Direction</label>
              <input id="direction" type="text" class="form-input" placeholder="Complete the field">
              <div class="errorMessage"></div>
            </fieldset>
          </div>
          <div class="second-class-form">
            <fieldset class="form-group">
              <label class="form-label" for="city">City</label>
              <input id="city" type="text" class="form-input" placeholder="Complete the field">
              <div class="errorMessage"></div>
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="postal-code">Postal Code</label>
              <input id="postal-code" type="text" class="form-input" placeholder="Complete the field">
              <div class="errorMessage"></div>
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="email">Email</label>
              <input id="email" type="text" class="form-input" placeholder="Complete the field">
              <div class="errorMessage"></div>
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="password">Password</label>
              <input id="password" type="password" class="form-input" placeholder="Complete the field">
              <div class="errorMessage"></div>
            </fieldset>
            <fieldset class="form-group">
              <label class="form-label" for="repeated-password">Repeat password</label>
              <input id="repeated-password" type="password" class="form-input" placeholder="Complete the field">
              <div class="errorMessage"></div>
            </fieldset>
            <div>
              <input id="btn-submit" class ="sumbit-login-button" type="submit" value="Register">
            </div>
            <div class="nav-options">
              <a href="./login.html">Sign In</a>
            </div>
          </div>
        </form>
      </section>
      <section class="side-background">
        <img src="../../assets/imgs/radium-rocket-words.png" alt="Radium rocket logo">
      </section>
    </div>
    <script src="../../Week-06/js/sign-up.js"></script>
  </body>
</html>