body {
    font-family: 'Roboto', sans-serif, 'Gill Sans';
}
main {
    margin-left: 19%;
    position: absolute;
    width: 79%;
    top: 135px;
    right: 0px;
}
header {
    background-color: #373867;
    margin-left: 19%;
    padding: 40px 40px;
}

header img {
    position: relative;
    top: -7px;
    left: 5px;
  }

h1 {
    display: inline-block;
    position: absolute;
    font-size: 40px;
    line-height: 46.88px;
    font-weight: 700;
    color: #AACE9B;
    text-align: center;
    text-transform: uppercase;
    bottom: 8px;
    left: 519px;
    top: 24px;
    right: 100px;
    width: 485px;
    height: 45px;

}
aside {
    position: fixed;
    z-index: 1;
    background-color: #AACE9B;
    top: 0;
    left: 0;
    width: 19%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.boton:hover {
    background-color: #e0e0e0;
    border-color: #999;
}

nav a {
    margin: 10px;
    display: inline-block;
    padding: 20px 0px 0px 0px;
    width: 200px;
    height: 40px;
    gap: 10px;
    background-color: #ffffff;
    border: 1px solid #373867;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #373867;
    font-size: 20px;
    font-weight: 600
}

.boton {
    display: inline-block;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    top: 40px;
    background-color: #373867;
    border: 1px solid #1d1c1c;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

nav a:hover {
    background-color: #e0e0e0;
    border-color: #999;
}

.secondary-menu-side-bar {
    font-size: 15px;
    font-weight: 600;
    color: #373867;
    line-height: 20px;
    margin-left: 40px;
    margin-top: 5px;
    text-align: left;
}

.Other-options {
    font-size: 20px;
    font-weight: 600;
    color: #373867;
    line-height: 40px;
    margin-left: -1px;
    margin-bottom: 0px;
    text-align: left;
  }

h2 {
    text-transform: uppercase;
    font-weight: 700;
}

aside h2 {
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #373867;
}

.other-opt-ul {
    padding: 0 0 0 40px;
    text-align: left;
    margin-left: -38px;
}

.other-opt-ul li a {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #373867;
}

.social-links {
    position: relative;
    text-align: left;
}

.social-links li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #373867;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.social-links li a img {
    position: relative;
    top: 6px;
}

.main-reason {
    position: relative;
    padding: 0px 0px;
    margin-left: 0%;
    display: block;
    text-align: left;
    float: right;
    width: 700px;
    bottom: 200px;
    right: 0px;
    
}


#main-reason div {
    display: inline-block;
    position: absolute;
    width: 40%;
}

#main-reason div h2 {
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    color: #373867;
}

#main-reason div p {
    font-size: 18px;
    font-weight: 600;
    color: #373867;
}

#main-reason img {
    position: relative;
    width: 60%;
    left: 450px;
}

.separation {
    margin: 0 40px;
    height: 5px;
    background-color: #373867;
    margin-block: 30px
}

#how-can-we-help-you {
    width: 1142px;
    height: 903px;
    text-align: center;
}
