body {
    font-family: 'Roboto', 'Gill Sans', sans-serif;
    max-width: 100%;
    color: #373867;
}
header {
    float: right;
    width: 81%;
    height: 135px;
    background-color: #373867;
    vertical-align: top;
}
h1 {
    display: inline-block;
    margin-top: 38px;
    margin-left: 25px;
    font-size: 40px;
    width: 472px;
    height: 45px;
    line-height: 46.88px;
    font-weight: 700;
    color: #AACE9B;
    text-transform: uppercase;
}
header img {
    margin-top: 45px;
    margin-left: 50px;
}
aside {
    position: fixed;
    width: 19%;
    max-width: 19%;
    height: 100%;
    text-align: center;
    background-color: #AACE9B;
}
a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
}
.menu-nav li {
    max-width: 150px;
    max-height: 150px;
    min-height: 45px;
    min-width: 180px;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    list-style: none;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    line-height: 20px;
    margin: 40px;
    background-color: #E0E0E0;
    border-color: #373867;
    text-transform: uppercase;
}
.menu-nav li:nth-child(1) {
    background-color: #373867;
    color: #ffffff;
}
.menu-nav a {
    display: block;
    margin-top: 12px;
}
h2 {
    text-transform: uppercase;
    font-weight: 700;
}
aside h2 {
    margin-right: 20px;
    font-size: 25px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.other-opt-ul {
    margin-left: 40px;
    text-align: left;
    line-height: 25px;
}
.other-opt-ul li a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.social-links {
    padding: 10px 40px;
    text-align: left;
}
.social-links li {
    display: inline-block;
    margin-right: 10px;
}
.social-links li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.social-links li a img {
    margin-right: 10px;
    vertical-align: middle;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
main {
    float: right;
    width: 80%;
    margin-top: 13px;
}
section {
    margin: 40px;
    overflow: hidden;
}
#main-reason div p {
    display: inline-block;
  }
#main-reason div h2 {
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
}
#main-reason div p {
    font-size: 20px;
    font-weight: 600;
    width: 435px;
    line-height:23px;
    vertical-align: top;
}
.separation {
    clear: both;
    height: 4px;
    max-width: 1150px;
    margin: 20px 0 20px 60px;
    background-color: #373867;
}
#how-can-we-help-you {
    position: relative;
    text-align: center;
    height: 903px;
    width: 1142px;
}
#how-can-we-help-you h2 {
    margin-top: 124px;
    font-size: 40px;
    font-weight: 700;
    color: #EBECF0;
}
#how-can-we-help-you img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sub-titles {
    text-align: center;
}
.sub-titles li {
    display: inline-block;
    height: 107px;
    width: 351px;
    border-radius: 5px;
    margin: 20px;
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 80px;
    vertical-align: middle;
    border: 2px solid #373867;
    background-color: #EBECF0;
}
.sub-titles li h3 {
    margin: 25px 0;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}
.title-section-contact {
    height: 100px;
}
.title-section-contact h2 {
    float: left;
    font-size: 40px;
    font-weight: 700;
}
.title-section-contact img {
    margin-left: 20px;
    margin-bottom: 10px;
}
.all-form {
    clear: both;
}
.form-label {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 25px;
}
.form-label input {
    margin-left: 110px;
}
.form-label:nth-child(2) input{
    margin-left: 70px;

}

.all-form input {
    width: 270px;
    height: 45px;
    margin-bottom: 20px;
    padding: 0 20px;
    border-radius: 25px;
    font-size: 15px;
    border: 2px solid #373867;
    font-weight: 600;
}
.options-form input {
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 25px;
    font-size: 15px;
    border: 2px solid #373867;
    font-weight: 600;
    width: 21px;
}
.all-form h3 {
    margin: 40px 0 20px 0;
    font-size: 30px;
    font-weight: 700;
}
.options-form {
    margin: 8px 0;
    font-size: 30px;
    font-weight: 700;
}
.message {
    display: block;
    margin: 50px 0 15px 0;
    font-size: 30px;
    font-weight: 700;
}
.all-form textarea {
    display: block;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid #E0E0E0;
}
input[type=submit] {
    width: 178px;
    height: 47px;
    margin: 67px 50px 0 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: #AACE9B;
}
input[type=reset] {
    width: 111px;
    height: 46px;
    margin-top: 20px;
    margin-left: -10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    border: 1.5px solid #373867;
}
#our-history {
    height: 855px;
    width: 1142px;
    overflow: hidden;
}
#our-history h2 {
    font-size: 43px;
    font-weight: 700;
}
#our-history img {
    float: left;
    width: 1135px;
    margin-right: -1142px;
    z-index: -1;
}
#our-history p {
    margin-left: 170px;
    margin-top: 270px;
    font-weight: 700;
    font-size: 30px;
    width: 804px;
    line-height: 35px;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
#activities {
    display: inline-block;
    width: 20%;
    font-size: 40px;
    margin-right: 20px;
    font-weight: 700;
    line-height: 46.88px;
}
#activities li p {
    display: inline-block;
    height: 110px;
    vertical-align: middle;
}
#activities ul {
    list-style: none;
}
#activities ul li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}
#activities ul li.sub-titles-activities {
    margin-top: 20px;
    font-size: 30px;
}
#membership {
    display: inline-block;
    width: 49%;
    height: 0px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #000000;
    margin-left: 270px;
    vertical-align: top;
}
#membership img {
    position: relative;
    right: 80px;
    top: 150px;
}
#membership h2 {
    display: inline;
}
#membership ul {
    margin-left: 0px;
    margin-top: 30px;
}
.small-list{
    margin-top: 35px;
}
.small-list li {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    list-style-type: "-";
}
footer {
    margin-top: 70px;
    float: right;
    width: 81%;
    height: 135px;
    background-color: #373867;
}
footer img {
    position: relative;
    float: right;
    right: 70px;
    margin-left: 40px;
    margin-top: 40px;
}
footer small {
    display: inline-block;
    margin-top: 55px;
    margin-left: 65px;
    text-align: center;
    color: #000000;
}