<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
		<link rel="stylesheet" type="text/css" href="../css/header.css">
		<link rel="stylesheet" type="text/css" href="../css/aside.css">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" type="text/css" href="../css/footer.css">
		<script src="../../Week-06/js/bonus.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100
		;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<title>Mega rocket S.A</title>
	</head>
	<body>
		<aside>
			<img class="burger-menu" src="../../assets/imgs/burger-menu.png" alt="vectors">
			<a class="rr-logo" href="index.html"><img src="../../assets/imgs/radium-rocket-logo.png" alt="radium rocket logo"></a>
			<h3 class="title-side-mobile">Mega rocket s.a</h3>
			<div class="social-nav-img">
				<a href="https://www.gmail.com" target="_blank"><img src="../../assets/imgs/gmail-icon.png" alt="white phone"></a>
				<a href="https://www.instagram.com/" target="_blank"><img src="../../assets/imgs/insta-icon.png" alt="camera"></a>
				<a href="https://www.facebook.com" target="_blank"><img src="../../assets/imgs/facebook-icon.png" alt="white f"></a>
			</div>
			<nav>
				<ul class="menu-nav">
					<li><a class="menu-nav-a" href="#top">Home</a></li>
					<li><a class="menu-nav-a" href="./sign-up.html">Sign up</a></li>
					<li><a class="menu-nav-a" href="./login.html">Sign in</a></li>
					<li><a class="menu-nav-a" href="#contact-form">Contact</a></li>
				</ul>
			</nav>
			<section class="secondary-menu-side-bar">
				<h2 class="other-options">Other options</h2>
				<ul class="other-opt-ul">
					<li><a href="#how-can-we-help-you">How can we help you?</a></li>
					<li><a href="#our-history">Our history</a></li>
					<li><a href="#activities">Activities</a></li>
				</ul>
			</section>
			<ul class="social-links">
				<li><a class="social-links-a" href="http://www.gmail.com" target="_blank"><img class="sidebar-images" 
					src="../../assets/imgs/mail.png" 
					alt=letter>info@Rocket.com</a></li>
				<li><a class="social-links-a" href="http://bit.ly/3ZmeagI" target="_blank"><img class="sidebar-images" 
					src="../../assets/imgs/home.png" 
					alt=home>Rosario,Argentina.</li></a>
				<li><a class="social-links-a" href="tel:000000000" target="_blank"><img class="sidebar-images" 
					src="../../assets/imgs/wp.png"alt=phone>(000) 000-000</li></a>
			</ul>
		</aside>
		<div class="main-contain">
			<header>
				<img class="burger-header" src="../../assets/imgs/burger-menu.png" alt="vectors">
				<img class="words-rr" src="../../assets/imgs/radium-rocket-words.png" alt="radium rocket in words">
				<h1>Mega rocket S.A</h1>
			</header>
			<main>
				<section id="main-reason" class="conteiner-section-1">
					<h2 class="title-main-reason">The main reason of health</h2>
					<p class="body-mecenas">
						Component Body Maecenas interdum faucibus quam ac interdum. Donec facilisis vitae ipsum a 
						ullamcorper. Proin interdum suscipit velit. Nullam pulvinar efficitur sapien ac rhoncus. 
						Aenean scelerisque, nisi at interdum laoreet, est nisi sagittis enim, nec eleifend justo 
						orci quis nisl. Morbi fringilla felis non ipsum dapibus, eget ornare tortor hendrerit. 
						Curabitur ac eleifend orci. Donec condimentum ex non leo volutpat pretium. Cras aliquet 
						quam quis semper egestas. Sed at ultricies turpis. Aenean cursus porta eleifend.
					</p>
					<img src="../../assets/imgs/main-reason-img.png" alt="man and woman with dumbbell">
				</section>
				<div class="separation"></div>
				<section id="how-can-we-help-you" class="how-can-we-help-you">
					<img src="../../assets/imgs/how-can-we-help-you-img.png" alt="muscular man with dumbbell">
					<h2>How can we help you?</h2>
					<div class="false-buttom-contain">
						<ul class="sub-titles">
							<li><h3>Turn reservation</h3></li>
							<li><h3>Membership managment</h3></li>
							<li><h3>Agent display</h3></li>
							<li><h3>Contact and suggest form</h3></li>
						</ul>
					</div>
				</section>
				<div class="separation"></div>
				<section id="contact-form" class="contact-form">
					<div class="title-image">
						<h2>Contact</h2>
						<img src="../../assets/imgs/contact-icon.png" alt="an envelope">
					</div>
					<form class="all-form">
						<label class="form-label" for="name">Name:
						  <input type="text" id="name" placeholder="Insert your name" name="name">
						  <span class="error-message" id="name-error"></span>
						</label>
						<label class="form-label" for="surname">Surname:
						  <input type="text" id="surname" placeholder="Insert your surname" name="surname">
						  <span class="error-message" id="surname-error"></span>
						</label>
						<label class="form-label" for="email">E-mail:
						  <input type="email" id="email" placeholder="Insert your e-mail" name="email">
						  <span class="error-message" id="email-error"></span>
						</label>
						<h3>Rason for contact:</h3>
						<div class="options-form">
						  <input type="radio" id="query" name="reason-for-contact" value="query">
						  <label for="query">I want to make a query or suggestion.</label>
						</div>
						<div class="options-form">
						  <input type="radio" id="claim" name="reason-for-contact" value="claim">
						  <label for="claim">I want to make a claim.</label>
						</div>
						<div class="options-form">
						  <input type="radio" id="memberships" name="reason-for-contact" value="memberships">
						  <label for="memberships">I want to know the memberships and costs.</label>
						</div>
						<div class="text-area">
						  <label class="message" for="message">Message:</label>
						  <textarea id="message" name="message" cols="105" rows="10" placeholder="Write here" ></textarea>
						</div>
						<div class="send-submit">
						  <input type="submit" value="Send message"></input>
						  <input type="reset" value="Reset"></input>
						</div>
					  </form>
				</section>
				<div class="separation"></div>
				<section id="our-history" class="our-history">
					<h2>Our history</h2>
					<p>
						Quisque pellentesque lacus metus, sodales tempor leo tincidunt ut. Curabitur 
						quis elit ut lectus vehicula rutrum eu at sem. Nam eget quam mi. Donec gravida 
						metus ante, eget vulputate nibh posuere nec. Donec iaculis consequat neque at 
						vulputate. Nulla tincidunt diam justo, eget facilisis nibh porttitor id. Suspendisse 
						rhoncus elit non dapibus ullamcorper. Proin in tempor quam. Nulla in eros est.
					</p>
				</section>
				<div class="separation"></div>
				<div class="activities-conteiner">
					<article id="activities" class="activities-article">
						<h2 class="activities">Activities</h2>
						<ul class="tablet-resolution-activities">
							<li><img class="activities-img" src="../../assets/imgs/crossfit-icon.png" alt="a dumbbell">Crossfit</li>
							<li><img class="activities-img" src="../../assets/imgs/fitness-icon.png" alt="muscular arm">Fitness</li>
							<li><img class="activities-img" src="../../assets/imgs/spining-icon.png" alt="exercise bike">Spinning</li>
							<li><img class="activities-img" src="../../assets/imgs/functional-icon.png" alt="gym machine">Funtional</li>
							<li><img class="activities-img" src="../../assets/imgs/boxing-icon.png" alt="boxing gloves">Boxing</li>
						</ul>
					</article>
					<article id="membership" class="membership-article">
						<h2 class="article-membership-h2">Membership Types</h2>
						<ul class="container-membership">
							<li class="types-memberships-list">
								<div class="conteiner-img-classes">
									<img src="../../assets/imgs/black-membership-icon.png" alt="black shield">
								</div>
								<ul class="small-list">
									<li>Black membership</li>
									<li>Free access to the weight room</li>
									<li>Free access to classes prior</li>
									<li>Personalized monitoring by coach</li>
									<li>Grid display</li>
								</ul>
							</li>
							<li class="types-memberships-list">
								<div class="conteiner-img-classes">
									<img src="../../assets/imgs/classic-member.png" alt="black ray">
								</div>
								<ul class="small-list">
									<li>Classic membership</li>
									<li>Free access to the weight room</li>
									<li>Personalized monitoring by coach</li>
									<li>Grid display</li>
								</ul>
							</li>
							<li class="types-memberships-list">
								<div class="conteiner-img-classes">
									<img src="../../assets/imgs/classes-membership.png" alt="black heart">
								</div>
								<ul class="small-list">
									<li>Only classes</li>
									<li>Free access to the weight room</li>
									<li>Grid display</li>
								</ul>
							</li>
						</ul>
					</article>
				</div>
			</main>
			<footer>
				<div class="social-images">
					<a href="https://www.instagram.com/" target="_blank"><img src="../../assets/imgs/insta-icon.png" alt="camera"></a>
					<a href="https://www.facebook.com" target="_blank"><img src="../../assets/imgs/facebook-icon.png" alt="white f"></a>
					<a href="https://www.gmail.com" target="_blank"><img src="../../assets/imgs/gmail-icon.png" alt="white phone"></a>
				</div>
				<small>&copy; 2022 Radium Rocket. All rights reserved.</small>
			</footer>
		</div>
	</body>
</html>