<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/login.css">
        <link rel="stylesheet" type="text/css" href="../css/login2.css">
        <script src="../../Week-06/js/login.js"></script>
        <title>login</title>
    </head>
    <body>
        <div class="conteiner-login">
            <div class="image-login-gym">
                <a href="/Week-06/views/index.html"><img class="margins-arrow" 
                src="../../assets/imgs/back-arrow-login.png" alt=""></a>
                <img class="radium-rocket-words-login" src="../../assets/imgs/radium-rocket-words.png" 
                alt="radium rocket words">
            </div>
            <div class="login-part">
                <div class="link-to-landing">
                    <a href="./index.html"><img class="margins-arrow-1024px" 
                    src="../../assets/imgs/back-arrow-login.png" alt=""></a>
                </div>
                <img class="img-logo-rr" src="../../assets/imgs/rr-login-logo.png" alt="rocket">
                <main>
                    <form class="form-login">
                        <label for="username">Email</label>
                        <div class="username">
                            <img src="../../assets/imgs/logo-user.png" alt="">
                            <input type="text" id="username" name="username" placeholder="Email">
                            <div class="error-message"></div>
                        </div>
                        <label for="password">Password</label>
                        <div class="password">
                            <img src="../../assets/imgs/logo-password.png" alt="">
                            <input type="password" id="password" name="password" placeholder="Password">
                            <div class="error-message"></div>
                        </div>
                            <div class="submit-button-container">
                            <button class="submit-login-button" type="submit">Login</button>
                            <a class="register-btn" href="./sign-up.html">Register</a>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </body>
</html>