footer {
  display: flex;
  flex-direction: row-reverse;
  background-color: #373867;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.social-images {
  display: flex;
  flex-direction: row-reverse;
  width: 67vw;
  padding-right: 1rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: end;
  color: black;
}
.social-images img {
  width: 2.5rem;
  margin-left: 1rem;
}
@media screen and (min-width: 480px) {
  small {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 1024px) {
  small {
    font-size: 1rem;
  }
}
