header {
    display: flex;
    background-color: #373867;
    width: 100vw;
    font-size: 1.5rem;
    text-transform: uppercase;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 8vh;
    
}
header .words-rr{
    display: none;
}
header h1 {
    color: #AACE9B;
    margin:auto
}