.conteiner-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner-section-1 .title-main-reason {
    color: #373867;
    line-height: 2.1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-top: 8vh;
}
.conteiner-section-1 img {
    width: 80%;
    background-color: rgb(255, 255, 255);
    order: 1;
}
.body-mecenas {
    order: 2;
    color: #373867;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1rem;
    margin-bottom: 10rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);    
}
.how-can-we-help-you {
    display: flex;
    flex-direction: column;
    background-image: url(../img/how-can-we-help-you-img.png);
    background-repeat: no-repeat;
    background-position: center top;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.how-can-we-help-you h2{
    margin-top: 10vh;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 700;
    color: #EBECF0;  
    text-transform: uppercase;  
}
.sub-titles {
    display: flex;
    flex-direction: column;
}
.sub-titles li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    margin: auto;
    margin-top: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 2px solid #373867;
    background-color: #EBECF0;
    text-align: center;
    padding: 1rem 0;
}
.sub-titles h3{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.how-can-we-help-you img {
    display: none;
    width: 100vw;
}
.title-section-contact h2 {
    font-size: 4;
    font-weight: 700;
}
.contact-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.contact-form img {
    width: 20px;
    height: 20px;
    margin-top: 14px;
}
.contact-form h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #373867;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.title-image {
    display: flex;
    justify-content: center;
}
.form-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
    font-size: 0.87rem;
    font-weight: 600;
    border-radius: 17px;
}
.all-form {
    width: 80%;
}
.all-form input {
    height: 35px;
    margin-bottom: 20px;
    padding: 0 1rem;
    border-radius: 17px;
    font-size: 0.87rem;
    border: 2px solid #373867;
    font-weight: 600;
}
.options-form input {
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 25px;
    font-size: 0.90rem;
    border: 2px solid #373867;
    font-weight: 600;
    width: 15px;
    margin-top: 13px
}
.all-form h3 {
    font-size: 1rem;
    font-weight: 700;
}
.options-form {
    margin: 8px 0;
    font-size: 0.87rem;
    font-weight: 700;
    height: 2rem;
}
.message {
    margin: 50px 0 15px 0rem;
    font-size: 0.87rem;
    font-weight: 700;
}
.form-label, .options-form {
    align-items: baseline;
}
.all-form textarea {
    border-radius: 4px;
    font-size: 0.87rem;
    border: 2px solid #E0E0E0;
    width: 80%;
    height: 7rem;
}
.text-area {
    display: flex;
    margin: 0rem 0rem 0rem 1rem;
    flex-direction: column;
}
input[type=submit] {
    color: #373867;
    height: 2rem;
    margin: 20px 50px 0 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: #AACE9B;
}
input[type=reset] {
    color: #373867;
    height: 2rem;
    margin-top: 20px;
    margin-left: -10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    border: 1.5px solid #373867;
}
.send-submit {
    display: flex;
    flex-wrap: wrap;
}
.our-history img {
    display: none;
    width: 100vw;
}
.our-history {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-history-img {
    display: flex;
    flex-direction: column;
    background-image: url(../img/our-history-img.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 20rem;
    padding-bottom: 20rem;
    background-size: cover;
}
.our-history img {
    display: none;
}
.our-history h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 2rem;
    line-height: 23px;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.our-history p {
    color: #E0E0E0;
    font-weight: 600;
    font-size: 1.25rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    background-image: url(../img/mobile-our-story.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 8rem 2.7rem;
    line-height: 1.5rem;
    margin: 0rem;
    height: 100vh;
    display: flex;
    align-items: center;
}
.activities {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: #373867;
}
.activities-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5rem;
    color: #373867;
}
.activities-article li{
    display: flex;
    align-items: center;
}
.activities-article img {
    margin-right: 1rem;
}
.membership-article {
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #000000;
}
.article-membership-h2 {
    text-align: center;
    margin: 3rem 0rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 10px;
    color: #434470;
}
.activities-img {
    width: 4rem;
}
.membership {
    font-size: 0.5rem;
    font-weight: 700;
    line-height: 10px;
    color: #000000;
    vertical-align: top;
}
.small-list {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.small-list li {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;
    list-style-type: "-";
}
.small-list li:first-child {
    font-size: 1.5rem;
    list-style: none;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
.title-list-class {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}
.memebership-icons {
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 1.5rem;
}
.activities-conteiner{
    display: flex;
    flex-direction: column;
}
.container-membership {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.types-memberships-list {
    display: flex;
    
}
.conteiner-img-classes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-img-classes img {
    padding-right: 3rem;
    margin-left: 1.3rem;
}
.conteiner-img-classes-heart {
    width: 80px;
    text-align: end;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 480px){
    .activities-article {
        align-items: center;
        font-size: 1.4rem;
    }
    .activities-article li {
        justify-content: center;
    }
    .container-membership {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .types-memberships-list {
        display: flex;    
    }
    .conteiner-img-classes {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tablet-resolution-activities{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 11rem;
        width: 95%;
        max-width: 29rem;
    }
}
@media screen and (min-width: 1024px) {
    .conteiner-section-1 {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
    }
    .conteiner-section-1 img {
        order: 2;
        width: 50%;
    }
    .sub-titles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 19vw;
        justify-content: center;
        align-items: center;
    }
    .conteiner-section-1 .title-main-reason {
        width: 100%;
        text-align: initial;
        margin-left: 5%;
    }
    .body-mecenas {
        order: 1;
        display: flex;
        justify-content: start;
        align-items: start;
        font-weight: 400;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
        font-size: 1rem;
        margin-bottom: 10rem;
        width: 30%;
    }
    .form-label {
        width: 50%;
    }
    .our-history {
        display: flex;
        flex-direction: column;
        align-items: initial;
        margin-left: 2rem;
    }
    .our-history p {
        padding: 8rem 10.7rem;
        font-size: 1.5rem;
        line-height: 2.0rem;
    }
    .tablet-resolution-activities {
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        width: 95%;
        max-width: 29rem;
    }
    .activities-conteiner {
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .div-activities {
        width: 40%;
        height: 80%;
    }
    .div-memberships {
        width: 40%;
        height: 80%;
    }
}