body {
    font-family: 'Roboto', 'Gill Sans', sans-serif;
    color: #373867;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.main-contain {
    width: 100%;
}

@media screen and (min-width: 480px) {
    .main-contain {
        width: 80%;
        
    
    }
    body {
        flex-direction: row;
    }
}