body {
    font-family: 'Roboto', 'Gill Sans', sans-serif;
    color: #373867;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
a {
    color: #373867;
}
small {
    color: rgb(18, 18, 18);
    background-color: #373867;
    padding-left: 1rem;
    font-size: 0.5rem;
    width: 100%;
}
.main-contain {
    width: 100%;
}
@media screen and (min-width: 480px) {
    .main-contain {
        width: 80%;
        
    
    }
    body {
        flex-direction: row;
    }
}