body {
    flex-direction: column;
    width: 100%;
}
.container {
    display: flex;
    color: #373867;
    justify-content: center;
}
.side-background {
    display: none;
    background-image: url(/assets/imgs/men-with-dumbell.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
}
.side-background img {
    margin: 1rem 2rem 0 0;
    width: 20rem;
}
.first-part-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.second-class-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.margins-arrow {
    margin: 1rem 0 0 0;
}
.image-contain {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.icon {
    width: 10rem;
}
.form-register {
    display: flex;
    flex-direction: column;
}
.form-register input {
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 0.5rem;
    width: 9rem;
}
.form-label {
    margin-bottom: 7px;
    line-height: 16px;
}
form input {
    border-radius: 5px;
    width: 10rem;
}
.nav-options {
    width: 12rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    width: 131px;
}
.form-group .input-error {
    border: 1px solid #FF3E1D;
}

.form-group .input-error::placeholder {
    color: #FF3E1D;
}

.form-group .label-error {
    color: #FF3E1D;
}
.errorMessage {
    display: block;
    padding-top: 4px;
    font-size: 0.7rem;
    color: #FF3E1D;
}
.is-hidden{
    display: none;
}
@media screen and (min-width: 1024px) {
    .image-signup-gym {
        display: flex;
    }
    .signup-part {
        width: 50%;
    }
    .form-register {
        flex-direction: row;
    }
    .radium-rocket-words-register {
        align-self: flex-end;
        margin: 1rem 1rem 0 0;
        width: 20rem;
    }
    .side-background {
        height: 100vh;
        display: flex;
    }
    #sign-up-form {
        display: flex;
    }
    .form-container {
        width: 50%;
    }
}
